#main {
   margin: 0;
}

#main-text {
    background-image: linear-gradient(60deg, #E21143, #FFB03A);
    background-clip: text;
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
}
