@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#main {
   margin: 0;
}

#main-text {
    background-image: linear-gradient(60deg, #E21143, #FFB03A);
    background-clip: text;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
}
